.head{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200px;
    font-style: italic;
    text-decoration: dotted underline;
    text-decoration-color: aqua;
}