.bx1{
  border: 3px solid;
  width: 250px;
  height: 250px;
  
  background-color: darkgoldenrod;  
}

.bx2{
  border: 3px solid;
  width: 250px;
  height: 250px;
  font-size: 22px;
  background-color: navajowhite; 
  padding: 15px; 
}
.box1{
    border: 6px solid;

}
.box2{
    border: 6px solid;
    margin: 100px;
    
}
.box3{
    border: 6px solid;
    margin: 0px;
    width: 250px;
  height: 250px;
    
}
.box4{
    border: 6px solid;
    margin-left: 50%;
    width: 250px;
  height: 250px;
    
}
.box5{
    border: 6px solid;
    margin-right: auto;
    width: 250px;
  height: 250px;
    
}
.box6{
    border: 6px solid;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
  height: 250px;
    
}